:root {
  /*
    Colors
  */
  --white: #FEFCFB;
  --lavander: #DAD4EF;
  --battleship-gray: #818D92;
  --gray: #7A7978;
  --davys-gray: #5F5B6B;
  --jet: #323031;
  --powder-blue: #B4C5E4;
  --vista-blue: #7A9CC6;
  --jordy-blue: #8AC4FF;
  --non-photo-blue: #8DE4FF;
  --cerulean: #1282A2;
  --teal: #177E89;
  --cambridge-blue: #87CBAC;
  --aquamarine: #90FFDC;
  --caribbean-current: #08605F;
  --indigo-dye: #034078;
  --pen-blue: #001F54;

  /*
    Font
  */
  --font-family-thin: Noto-Thin;
  --font-family-extra-light: Noto-Extra-Light;
  --font-family-condensed-light: Noto-Condensed-Light;
  --font-family-light: Noto-Light;
  --font-family-regular: Noto;
  --font-family-bold: Noto-Bold;

  --font-size-regular: 1rem;

  --line-height-1: 100%;
  --line-height-2: 110%;
  --line-height-3: 120%;
  --line-height-4: 130%;
  --line-height-5: 140%;
  --line-height-6: 150%;
  --line-height-7: 160%;
  --line-height-8: 170%;
  --line-height-9: 180%;
  --line-height-10: 190%;
  --line-height-11: 200%;

  /*
    Spacing
  */
  --spacing-1: 0.125rem;
  --spacing-2: 0.25rem;
  --spacing-3: 0.5rem;
  --spacing-4: 1rem;
  --spacing-5: 1.5rem;
  --spacing-6: 2rem;
  --spacing-7: 2.5rem;
  --spacing-8: 3rem;
  --spacing-9: 3.5rem;
  --spacing-10: 4rem;

  /*
    Border-radius
  */
  --border-radius-1: var(--spacing-2);
  --border-radius-2: var(--spacing-3);
  --border-radius-3: var(--spacing-4);
  --border-radius-4: var(--spacing-5);
}

*, :before, :after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-regular), sans-serif;
  color: var(--jet);
  font-size: var(--font-size-regular);
  line-height: var(--line-height-regular);
  text-align: left
}
